p {
    font-size: 15px;
}

body {
    font-family: Outfit, serif;
    background-color: hsl(216, 15%, 48%);
}

img {
    size: 10px;
}

.qr_code {
    display: flex;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}